.body {
    background-color: #b2ebb3;
}

.titulo{
    font-size: 42px;
    text-align: center;
}
.container {
    width: 20%;
    height: auto;
    transform: translate(165%,5%);
    background-color: #e9605c;
    border: solid 2px;
    padding: 20px;
    border-radius: 15px;

}

.forma {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de ancho igual */
    grid-template-rows: repeat(5, 1fr);    /* 5 filas de alto igual */
    gap: 10px;                            /* Espacio entre celdas */
    /* Otros estilos para el contenedor si es necesario */

  }
  
  /* Estilos para los elementos dentro del grid (opcional) */
  /* Por ejemplo, para hacer que los elementos ocupen varias celdas */

.forma input{
    grid-column: span 4;
}

  .forma div{
    border: 1px solid;
    border-radius: 5px;
    background-color: #f7ff8e;
}

.forma div p{
    font-size: 16px;
    text-align: center;
    font-family:'Arial Narrow';
}

  .grid-item {
    grid-column: span 2; /* El elemento ocupa 2 columnas */
    grid-row: span 1;    /* El elemento ocupa 1 fila */
  }

  .forma div:hover{
    background-color: #e44742;
  }

  .firma {
    grid-column: 4;
    font-size: 11px;
    transform: translate(25%,100%);
  }

.btnlimpiar {
    grid-column: span 4;
}